#pragma once

// tạo và chép vào các giá trị với tên file giống mẫu

// WiFi
#define WIFI_SSID     "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

// MQTT broker
#define MQTT_BROKER    "192.168.x.x"
#define MQTT_PORT      1883
#define MQTT_CLIENT_ID "esp32-client"
